@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?b1a5sn');
  src:  url('../fonts/icomoon.eot?b1a5sn#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?b1a5sn') format('truetype'),
    url('../fonts/icomoon.woff?b1a5sn') format('woff'),
    url('../fonts/icomoon.svg?b1a5sn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-messenger:before {
  content: "\e900";
  color: #00b2ff;
}
.icon-skype:before {
  content: "\e901";
  color: #00aff0;
}
.icon-telegram:before {
  content: "\e902";
  color: #2ca5e0;
}
.icon-twitter:before {
  content: "\e903";
  color: #1da1f2;
}
.icon-facebook:before {
  content: "\e904";
  color: #1877f2;
}
